* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1978&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1512641406448-6574e777bec6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1546514355-7fdc90ccbd03?ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80"); */
  background-position: center bottom;
  background-size: cover;
}

main {
  width: 100vw;
  min-height: calc(100vh - 78px);
  
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

button {
  width: 200px;
  height: 50px;
  background: rgba(151,219,225,0.75);
  box-shadow: 2px 2px 4px rgba(255,255,255,0.75),
              -2px 2px 4px rgba(255,255,255,0.75),
              2px -2px 4px rgba(255,255,255,0.75),
              -2px -2px 4px rgba(255,255,255,0.75);
  /* border: 2px solid white; */
  color: black;
  /* background: rgb(98,80,91); */
  border-radius: 25px;
  border: none;
  /* color: rgb(248,219,215); */
  font-size: 20px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 250ms;
}
button:hover {
  transform: scale(.9);
  box-shadow: 7px 7px 5px rgba(255,255,255,0.75),
              -7px 7px 5px rgba(255,255,255,0.75),
              7px -7px 5px rgba(255,255,255,0.75),
              -7px -7px 5px rgba(255,255,255,0.75);
}

header {
  z-index: 50;
  /* background: rgb(98,80,91); */
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}

nav {
  width: 100vw;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  /* color: rgb(248,219,215); */
  color: black;
}
.nav-left {
  margin-left: 20px;
}
.nav-left h1 {
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}
.nav-right {
  margin-right: 20px;
  display: flex;
  font-size: 24px;
}
.nav-right div {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px 5px;
  cursor: pointer;
}
.nav-right div:hover {
  text-decoration: underline;
}

.spacer {
  height: 185px;
  transition: height 250ms;
}
.controls {
  position: relative;
  width: 100vh;
  display: flex;
  justify-content: center;
}

.homeScreen {
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}
.homeScreen h2 {
  width: 635px;
  margin: 25px 0px;
  text-align: center;
}
.project {
  width: 85%;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  border-radius: 25px;
  margin-bottom: 25px;
}
.project h3 {
  margin: 10px 0px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.project h3:hover {
  text-decoration: underline;
}
.projectDetail {
  width: 100%;
  display: flex;
}
.projectDesc {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.tweetImgs,
.projectImg {
  width: 50%;
}
.tweetImgs a {
  width: 100%;
  display: flex;
}
.tweetImgs img {
  width: 30%;
  margin: 0px 5px;
  border-radius: 5px;
}
.projectImg img {
  width: 100%;
  border-radius: 5px;
}
.skyline .projectImg img {
  width: auto;
  height: 30vw;
}
.skyline .projectDesc {
  width: auto;
}
.project p {
  margin: 10px;
}
.descriptors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.descriptors p {
  padding: 5px 10px;
  margin: 5px;
  background:rgba(255,255,255,0.75);
  border: 2px solid white;
  font-weight: bold;
  border-radius: 10px;
}

.projectButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.projectButtons a {
  width: 40%;
  display: flex;
  justify-content: center;
}
.projectButtons a:nth-child(1) {
  margin-right: 25px;
}
.skyline .projectButtons {
  justify-content: center;
}
.skyline .projectButtons a:nth-child(1) {
  margin-right: 0px;
}

.aboutCards {
  height: 0px;
  width: 500px;
  display: flex;
  align-items: center;
}

.spinner,
.contactContainer,
.aboutCards,
.homeScreen {
  transition: height 250ms;
  overflow: hidden;
  position: absolute;
}

.spinner {
  height: 75px;
  width: 400px;
}

.contactContainer {
  height: 0px;
  width: 100vw;
  overflow: hidden;
  background: rgba(0,0,0,0.25);
}

.tweet2020,
.myBookshelf,
.haikuReview,
.wayfayer,
.skyline,
.tarotProject,
.zamagotchi,
.spacewars {
  display: block;
  transition: 250ms;
}
.myBookshelf,
.haikuReview,
.wayfayer,
.skyline,
.tarotProject,
.zamagotchi,
.spacewars {
  display: none;
}

.allProjects {
  background: rgba(255,255,255,0.5);
  padding: 15px 30px;
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
.allProjects:hover {
  text-decoration: underline;
}