* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

main {
  width: 100vw;
  min-height: calc(100vh - 78px);
  background-image: url("https://images.unsplash.com/photo-1546514355-7fdc90ccbd03?ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80");
  background-position: center;
  background-size: cover;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

button {
  width: 200px;
  height: 50px;
  background: rgb(98,80,91);
  border-radius: 25px;
  border: none;
  color: rgb(248,219,215);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 250ms;
}
button:hover {
  transform: scale(.85);
}

header {
  z-index: 50;
  /* background: rgb(47,49,62); */
  background: rgb(98,80,91);
}

nav {
  width: 100vw;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  color: rgb(248,219,215);
}
.nav-left {
  margin-left: 20px;
}
.nav-left h1 {
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}
.nav-right {
  margin-right: 20px;
  display: flex;
  font-size: 24px;
}
.nav-right div {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px 5px;
  cursor: pointer;
}
.nav-right div:hover {
  text-decoration: underline;
}

.spacer {
  height: 185px;
  transition: height 250ms;
}
.controls {
  position: relative;
  width: 100vh;
  display: flex;
  justify-content: center;
}

.homeScreen {
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}
.homeScreen h2 {
  width: 85%;
  margin: 25px 0px;
  text-align: center;
}
.project {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project h3 {
  margin: 10px 0px;
  text-decoration: underline;
}
.project p {
  margin: 10px;
}
.projectButtons {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.tweetImgs img {
  height: 500px;
  margin: 0px 5px;
  border-radius: 5px;
}

.aboutCards {
  height: 0px;
  width: 500px;
  display: flex;
  align-items: center;
}

.spinner,
.contactContainer,
.aboutCards,
.homeScreen {
  transition: height 250ms;
  overflow: hidden;
  position: absolute;
}

.spinner {
  height: 75px;
  width: 400px;
}

.contactContainer {
  height: 0px;
  width: 100vw;
  overflow: hidden;
  background: rgba(0,0,0,0.25);
}

.project {
  overflow: hidden;
}
.tweet2020,
.myBookshelf,
.haikuReview,
.wayfayer,
.skyline,
.tarotProject,
.zamagotchi,
.spacewars {
  transition: 250ms;
}
.myBookshelf,
.haikuReview,
.wayfayer,
.skyline,
.tarotProject,
.zamagotchi,
.spacewars {
  height: 0px;
}